body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    font-size: 15px;
}

th {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

td {
    background-color: #fff;
    transition: background-color 0.3s ease;
}

table tr:hover td {
    background-color: #d2cccc;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.add-row-btn, .del-row-btn, .sign-out-btn {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, box-shadow 0.3s ease;
}

.add-row-btn:hover, .del-row-btn:hover {
    background-color: #45a049;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.del-row-btn {
    background-color: #FF0000;
}

.del-row-btn:hover {
    background-color: #cc0000;
}

.charts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.card {
    flex: 1 1 300px;
    margin: 20px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}
